
<!DOCTYPE html>
<html>
<body>


<form method="post" action="/checkout">
  <p>Input the text you want analyzed here:</p>
  <textarea name="item"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>

</body>
</html>
